body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.center-children {
    display: flex;
}

.center-children>* {
    margin: auto;
}

.text-black-border {
    -webkit-text-stroke: 0.035em black;
}

.text-red-border {
    -webkit-text-stroke: 1px #ff2222;
}

.MuiDialog-container.MuiDialog-scrollPaper {
    height: 100vh;
    width: 100vw;
}

.area {
    position: absolute;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5vw;
    font-size: 1rem;
    top: -5px;
    left: 15px;
    padding: 2px;
}